<div class="container">
  <img src="./assets/images/1234.jpeg" class="image">
    <div class="details-Container">
      <strong>Name:</strong>
      <p>Name</p>
    </div>
    <div class="details-Container">
      <strong>Last Name:</strong>
      <p>Last Name</p>
    </div>
    <div class="details-Container">
      <strong>Email</strong>
      <p>test.3test@test.com</p>
    </div>
    <div class="details-Container">
      <strong>Phone Number</strong>
      <p>555555555</p>
    </div>
    <div class="details-Container">
      <strong>Bio</strong>
      <p>testtesttes ttesttesttesttesttest testtesttestt esttesttesttesttest testtesttesttes ttesttesttesttest</p>
    </div>
  <div class="details-Container">
    <strong>Skills</strong>
    <p>react / angular/ vue</p>
  </div>
  <div class="details-Container">
    <strong>Links</strong>
    <img src="assets/images/logoGithub.png" class="logo">
    <img src="assets/images/linked.png" class="logo">
  </div>

</div>

