<div class="container">
  <div class="details-Container">
    <strong>Title:</strong>
    <p>title</p>
  </div>
  <div class="details-Container">
    <strong>type:</strong>
    <p>Type</p>
  </div>
  <div class="details-Container">
    <strong>Duration:</strong>
    <p>Duration</p>
  </div>
  <div class="details-Container">
    <strong>data:</strong>
    <p>Date</p>
  </div>
  <div class="details-Container">
    <strong>Additional Skill:</strong>
    <p>SQL/Redux/Angular</p>
  </div>
  <div class="details-Container">
    <strong>Description:</strong>
    <p>testtesttes ttesttesttesttesttest testtesttestt esttesttesttesttest testtesttesttes ttesttesttesttest</p>
  </div>
  <div class="details-Container">
    <strong>Image:</strong>
    <img src="./assets/images/1234.jpeg" class="image" alt="image">
  </div>

</div>
